<h1>Listagem de Médicos da Clínica</h1>
<div class="lista_medicos">
  <% if @medicos.empty? %>
    Não há nenhum médico alocado a essa clínica ainda.
  <% else %>
    <% @medicos.each do |medico| %>
      <%= render :partial => 'medicos/medico', :locals => {:medico => medico} %>
    <% end %>
  <% end %>
</div>