<h1>Protótipo de Receituário Online</h1>
<p>Protótipo de um sistema web desenvolvido como trabalho de final de curso.</p>
<p>Esse protótipo permite:
  <ol>
    <li>Cadastro de Receita Médica pelos Médicos</li>
    <li>Cadastro de Paciente pelos Médicos</li>
    <li>Cadastro de Clínica</li>
    <li>Cadastro de Médico pelas Clínicas</li>
    <li>Cadastro de Farmácia</li>
    <li>Cadastro de Farmacêuticos e Balconistas pelas Farmácias</li>
    <li>Atendimento de Receita Médica pelos Balconistas e Farmacêuticos</li>
  </ol>
</p>